<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/notice.css">
    <title>공지사항</title>
</head>

<body>
    <!-- header  -->
    <header id="header">
        <div class="header-full">
            <a href="#" class="logo">
                <nav class="header_nav">
                    <div class="header_menu">
                        <a href="#" class="header_login"><i class='bx-fw bx bxs-rocket bx-tada-hover'></i>로그인</a>
                        <a href="#" class="header_register"><i class='bx-fw bx bxs-user-plus bx-tada-hover'></i>회원가입</a>
                    </div>
                </nav>
        </div>
    </header>
    <div class="menu">
        <ul>
            <li class="drop-down"><a href="#"><i class='bx-fw bx bxs-directions bx-tada-hover bx-xs'></i>전체</a>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">사이트안내</a></li>
                    <li><a href="#">신제품</a></li>
                    <li><a href="#">인기제품</a></li>
                    <li class="drop-down"><a href="#">카테고리</a>
                        <ul>
                            <li class="drop-down"><a href="#">피규어</a>
                                <ul>
                                    <li><a href="#">애니</a></li>
                                    <li><a href="#">게임</a></li>
                                    <li><a href="#">연예인</a></li>
                                </ul>
                            </li>
                            <li class="drop-down"><a href="#">미니어쳐</a>
                                <ul>
                                    <li><a href="#">소형</a></li>
                                    <li><a href="#">중형</a></li>
                                    <li><a href="#">대형</a></li>
                                </ul>
                            </li>
                            <li><a href="#">RC카</a> </li>
                            <li class="drop-down"><a href="#">기타</a>
                                <ul>
                                    <li><a href="#">슬라임</a></li>
                                    <li><a href="#">굿즈</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="#">공지사항</a></li>
        </ul>
        <ul>
            <li><a href="#">사이트안내</a></li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">신제품/인기제품</a>
                <ul>
                    <li><a href="#">신제품</a></li>
                    <li><a href="#">인기제품</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">고객센터</a></li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">카테고리</a>
                <ul>
                    <li class="drop-down"><a href="#">피규어</a>
                        <ul>
                            <li><a href="#">애니</a></li>
                            <li><a href="#">게임</a></li>
                            <li><a href="#">연예인</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">미니어쳐</a>
                        <ul>
                            <li><a href="#">소형</a></li>
                            <li><a href="#">중형</a></li>
                            <li><a href="#">대형</a></li>
                        </ul>
                    </li>
                    <li><a href="#">RC카</a> </li>
                    <li class="drop-down"><a href="#">기타</a>
                        <ul>
                            <li><a href="#">슬라임</a></li>
                            <li><a href="#">굿즈</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <nav class="main_top">
                    <div class="search">
                        <form action="get">
                            <input type="text" name="search" placeholder="search" class="search_text">
                            <button type="submit"><i class='bx-fw bx bx-search bx-sm'></i></button>
                        </form>
                    </div>
            </li>
        </ul>
    </div>
    </nav>
    


                   <!-- ---------------------main---------------------------------  -->
    <main>
        <div class="container">
            <div class="title">
                <h1>NOTICE</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>SUBJECT</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6</td>
                        <td><a class="subject-list" href="notice_detail.html">디스토이 신명준 회원님 결재 안내</a></td>
                        <td>2021-11-21</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a class="subject-list">택배 파업으로 인한 배송 지연 안내</a></td>
                        <td>2021-10-09</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a class="subject-list">택배 파업으로 인한 배송 지연 안내</a></td>
                        <td>2021-07-21</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a class="subject-list">무통장입금계좌 안내</a></td>
                        <td>2021-06-30</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a class="subject-list">THIS TOY 이용약관 개정안내</a></td>
                        <td>2021-05-18</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a class="subject-list">개인정보취급방침 변경에 따른 공지사항</a></td>
                        <td>2021-05-15</td>
                    </tr>
                </tbody>
            </table>

            <div class="page-number">
                <tr>
                    <a href="#"></a>
                    <a class="page-number-ea" href="/">1</a>
                    <a class="page-number-ea" href="/">2</a>
                    <a class="page-number-ea" href="/">3</a>
                    <a class="page-number-ea" href="/">4</a>
                    <a class="page-number-ea" href="/">5</a>
                    <a class="page-number-ea" href="#"></a>
                </tr>
            </div>

            <div class="notice-search">
                <form method="GET">
                    <select name="date">
                        <option value="week">일주일</option>
                        <option value="amonth">한달</option>
                        <option value="threemonth">세달</option>
                        <option value="all">전체</option>
                    </select>
                    <select name="search-select">
                        <option value="subject">제목</option>
                        <option value="text">내용</option>
                    </select>
                    <input type="text" maxlength="30" class="search-text" required>
                    <button type="submit">
                        <i class='bx-fw bx bx-search bx-sm'></i>
                    </button>
                </form>
            </div>
        </div>
    </main>





    <!-- footer -->
    <!-- 하단 footer 영역 -->
    <footer>
        <div class="footer-icon">
            <div class="i1"><i class='bx bxl-facebook bx-fade-left-hover'></i></div>
            <div class="i1"><i class='bx bxl-instagram-alt  bx-fade-up-hover'></i></div>
            <div class="i1"><i class='bx bxl-twitter  bx-fade-right-hover'></i></div>
        </div>
        <div class="footer-business">
            <span>info&nbsp;&nbsp;</span>
            <span>Support&nbsp;&nbsp;</span>
            <span>Marketing</span>
        </div>
        <div class="footer-team">
            <span>Team</span>
            <span>1조</span>
            <span>6명</span>
        </div>
        <div class="footer-create">
            <span>@2021 Create Ezen Computer</span>
        </div>
    </footer>

    <!-- 우측 하단 챗봇 및 상단바로가기 버튼 -->
    <a href="#" class="back-to-top">
        <i class="bx-fw bx bxs-rocket bx-tada-hover"></i>
    </a>

    <div class="chat">
        <div class="chat_header">
            <div class="chat_logo"></div>
            <div class="fa-times">
                <i class="bx bx-x" onclick="closechat();"></i>
            </div>
        </div>
        <div class="chat_main">
            <div class="chat_info">
                <div class="chat_profile"><i class='bx bx-game'></i></div>
                <div class="dito">
                    <span class="dito_name">디토</span>
                    <div class="dito_text">디스토이에 오신걸 환영합니다! 꼭 필요한 미니어처를 찾아가세요!!</div>
                </div>
            </div>
            <div class="question">
                <button type="button" class="ask" onclick="answer1();">반품/교환/환불</button><br>
                <button type="button" class="ask" onclick="answer2();">결제 안내</button><br>
                <button type=" button" class="ask" onclick="answer3();">재입고 안내</button>
            </div>
        </div>
    </div>
    <div class="chat-bot-open"><i class='bx bx-message-rounded' onclick="openchat();"></i></div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/back-to-top.js"></script>

</body>

</html>