<?xml version="1.0" encoding="UTF-8"?>
<!-- 어떤 내용들이 들어가고 어떤게 들어가면 안되는지 알려주는게 dtd(자동완성기능이 지원된다) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 인터페이스와 동일하게 해줘야한다. -->
<mapper namespace="com.base.mapper.MypageMapper">

	<select id="getProductCode" resultType="WishlistVO">
	select * from wish_list where user_id = #{userId} order by wish_code desc
	</select>
	
	<select id="getWishList" resultType="ProductVO">
	select * from product where product_code = #{productCode}
	</select>
	
	<select id="getSellbox" resultType="ProductVO">
	select * from product where user_id = #{userId} order by product_date desc
	</select>
	
	<select id="getCart" resultType="ProductVO">
	select * from product where product_code = #{productCode}
	</select>
	
	<select id="getProductCode3" resultType="CartVO">
	select * from cart where user_id = #{userId} order by cart_code desc
	</select>
	
	<select id="getWish" resultType="WishlistVO">
	select * from wish_list where product_code = #{productCode}
	</select>
	<select id="getOrderList" resultType="OrdersVO">
	select * from orders where user_id = #{userId} order by order_code desc
	</select>
	<select id="getProduct" resultType="OrdersVO">
	select a.USER_TEL, b.*, c.* from usertable a, product b, orders c 
	where b.product_code=#{productCode} and b.user_id=a.user_id and c.user_id=#{userId}
	and c.order_code=${orderCode}
	</select>
	<select id="getOrder" resultType="OrdersVO">
	select * from orders where order_code=#{orderCode}
	</select>
	<select id="getProduct2" resultType="ProductVO">
	select * from product where product_code=#{productCode}
	</select>
	<select id="getUser" resultType="UserVO">
	select * from usertable where user_id = #{userId}
	</select>
	<select id="getSeller" resultType="UserVO">
	select * from usertable where user_id = #{seller}
	</select>
	<select id="getReviewList" resultType="ReviewVO">
	select * from review where user_id = #{userId} order by review_date desc
	</select>
	<select id="getQnaList" resultType="QnAVO">
	select * from question where user_id = #{userId} order by question_date desc
	</select>
	<delete id="orderdelete">
	delete from orders where order_code = #{orderCode}
	</delete>
	
	<delete id="deleteCart">
	delete from cart where product_code = #{productCode} and user_id = #{userId}
	</delete>
	
	<delete id="alldeleteCart">
	delete from cart where user_id = #{userId}
	</delete>
	
	<delete id="deleteWish">
	delete from wish_list where user_id = #{userId} and product_code=#{productCode}
	</delete>
	
	
</mapper>