<?xml version="1.0" encoding="UTF-8"?>
<!-- 어떤 내용들이 들어가고 어떤게 들어가면 안되는지 알려주는게 dtd(자동완성기능이 지원된다) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 인터페이스와 동일하게 해줘야한다. -->
<mapper namespace="com.base.mapper.OrdersMapper">
 <!-- id : 메서드 이름  -->
<insert id="insertorder" >
<![CDATA[
   insert into orders
   (order_code , order_price , product_code , user_id , product_name , order_ea , product_img , order_address_post , order_address , order_address_detail , newuser_name , newuser_tel) values
   (#{productCode}||orders_seq.nextval , #{orderPrice} , #{productCode} , #{userId} , #{productName} , 
   #{orderEa} , #{productImg} , #{orderAddressPost} , #{orderAddress} , #{orderAddressDetail} , #{newuserName} , #{newuserTel} )
   ]]>
</insert> 

<select id="getproduct" resultType="ProductVO">
   select * from product where product_code = #{productCode}
</select>

<select id="getaddr" resultType="UserVO">
   select * from usertable where user_id = #{userId}
</select>

<select id="getcart" resultType="ProductVO">
   select * from product where product_code = #{productCode}
</select>

<delete id="deletecart">
   delete from cart where product_code = #{productCode} and user_id = #{userId}
</delete>

<update id="updatesales">
   update product set sell_count = (sell_count + #{orderEa})
   where product_code = #{productCode}
</update>

<update id="updatestock">
   update product set product_stock = (product_stock - #{orderEa})
   where product_code = #{productCode}
</update>

</mapper> 