<?xml version="1.0" encoding="UTF-8"?>
<!-- 어떤 내용들이 들어가고 어떤게 들어가면 안되는지 알려주는게 dtd(자동완성기능이 지원된다) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 인터페이스와 동일하게 해줘야한다. -->
<mapper namespace="com.base.mapper.ProductMapper">
	<!-- id : 메서드 이름 -->
	<insert id="insert">
	<![CDATA[
	insert into product 
	(product_code,product_name,product_price,product_main_img,product_stock,down_ca_code,user_id,product_info_img) values
	(#{downCaCode}||pd_code_seq.nextval,#{productName},#{productPrice},#{productMainImg},#{productStock},
	#{downCaCode},#{userId},#{productInfoImg})
	]]>
	</insert>
	<select id="getList" resultType="ProductVO">
		select * from(
		select rownum num , n.* from
		(select * from product
		<choose>
			<when test="downCaCode != null and !downCaCode.equals('')">
				where down_ca_code=#{downCaCode} order by
				product_date desc) n
				)
			</when>
			<when test="search != null and !search.equals('')">
				<![CDATA[
				where
				product_name like '%'||#{search}||'%' order by product_date desc) n
				)
				]]>
			</when>
			<when test="bn.equals('Best')">
			<![CDATA[
			order by sell_count desc) n)
        	]]>
			</when>
			<otherwise>
        	<![CDATA[
			order by product_date desc) n)
        	]]>
			</otherwise>
		</choose>
		where num between (#{pageNum}-1)*15+1 and #{pageNum}*15
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from
		<choose>
			<when test="downCaCode != null and !downCaCode.equals('')">
				product where down_ca_code=#{downCaCode}
			</when>
			<when test="search != null and !search.equals('')">
				<![CDATA[
				 product where product_name like '%'||#{search}||'%'
				  ]]>
			</when>
			<when test="bn.equals('Best')">
			<![CDATA[
				(select * from product order by sell_count desc) 
				where rownum <=15
		 	]]>
			</when>
			<otherwise>
				<![CDATA[
				(select * from product order by product_date desc) 
				where rownum <=15
		 	]]>
			</otherwise>
		</choose>
	</select>
	<delete id="deleteProduct">
	delete from product where product_code = #{productCode}
	</delete>
	<select id="getProduct" resultType="ProductVO">
		select b.down_ca_name, a.* from product a,down_category b where
		a.product_code = #{productCode} and a.down_ca_code=b.down_ca_code
	</select>
	<insert id="insertCart">
	insert into cart values(cart_seq.nextval,#{productEa},#{productCode},#{userId})
	</insert>
	<select id="cartCount" resultType="int">
	select count(*) from cart where product_code = #{productCode} and user_id=#{userId}
	</select>
	<insert id="insertWish">
	insert into wish_list values(wish_seq.nextval,#{productCode},#{userId})
	</insert>
	<select id="wishCount" resultType="int">
	select count(*) from wish_list where product_code = #{productCode} and user_id=#{userId}
	</select>
	<delete id="deleteWish">
	delete from wish_list where product_code = #{productCode} and user_id=#{userId}
	</delete>
</mapper>