<?xml version="1.0" encoding="UTF-8"?>
<!-- 어떤 내용들이 들어가고 어떤게 들어가면 안되는지 알려주는게 dtd(자동완성기능이 지원된다) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 인터페이스와 동일하게 해줘야한다. -->
<mapper namespace="com.base.mapper.ReviewMapper">
	<insert id="insert">
		insert into review
		(review_code,review_text,review_rating,product_code,user_id)
		values
		(review_seq.nextval,#{reviewText},#{reviewRating},#{productCode},#{userId})
	</insert>
	<select id="getReview" resultType="ReviewVO">
		select * from(
		select rownum
		num , n.* from
		(select * from review where
		product_code = #{productCode}
		order by review_date desc) n
		)
		where num between (#{pageNum}-1)*10+1 and
		#{pageNum}*10
	</select>
	<select id="getReviewTotalCount" resultType="int">
		select count(*) from review where product_code = #{productCode}
	</select>
	<delete id="deleteReview">
		delete from review where review_CODE = #{reviewCode}
	</delete>
	<select id="getReviewAvg" resultType="float">
	<![CDATA[
	 select NVL(round(avg(review_rating),1),0) from review where product_code= #{productCode}
	 ]]>
	</select>
	<select id="checkReview" resultType="ReviewVO">
	select * from review where product_code=#{productCode} and user_id=#{userId}
	</select>
</mapper>