/*---- header 시작 ----*/
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(197, 137, 199, 0.75);
  transition: all 1s;
  padding: 10px 0;
  height: 150px;
}
td, tr{
	    word-break: break-all;
}
#header .header-full {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1000px;
}
.logo {
  width: 150px;
  height: 150px;
  background: url("/img/logo_ani.png") no-repeat 0 0 / auto 150px;
}
.logo:hover {
  width: 150px;
  height: 150px;
  background: url("/img/logo_ani.png") no-repeat 0 0 / auto 150px;
  animation: logo_ani 1s infinite steps(17);
}
.header_nav .header_menu {
  position: absolute;
  right: 0;
}
.header_nav a {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  font-size: 14px;
  font-family: "Cafe24Ssurround", sans-serif;
  font-weight: 500;
  padding: 0 4px;
  text-transform: uppercase;
}
.header_nav .header_menu .header_login {
  border-right: solid 2px rgba(88, 113, 253, 0.75);
  padding-right: 10px;
  text-align: center;
}

/*-----------------------*/

/*---- main_top 시작 ----*/

/*---- main_top 시작 ----*/

.menu {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: rgba(245, 96, 153, 0.9);
  transition: 0.3s;
  font-size: 20px;
  font-family: "Cafe24Ssurround", sans-serif;
  font-weight: 500;
  padding: 0 5px;
  text-transform: uppercase;
}
.menu > ul {
  display: flex;
}
.menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 22px 10px 22px;
}
.menu .drop-down ul {
  display: block;
  width: 130px;
  position: absolute;
  left: 25px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(255, 141, 226, 0.3);
  transition: 0.3s;
}
.header_menu ul{
	display:flex;
}
.header_menu .drop-down ul{
 margin-top:10px;
  display: block;
  width: 140px;
  position: absolute;
  top: calc(100% + 20px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 5px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(255, 141, 226, 0.3);
  transition: 0.2s
}
.header_menu .drop-down:hover > ul {
  opacity: 0.9;
  top: 100%;
  visibility: visible;
}
.header_menu .drop-down li {
  min-width: 100px;
  position: relative;
  padding: 10px 10px;
}
.header_menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2a2a2a;
}
.menu .drop-down ul .drop-down ul {
  left: 131px;
  top: 0;
}
.menu .drop-down:hover > ul {
  opacity: 0.9;
  top: 100%;
  visibility: visible;
}
.menu .drop-down li {
  min-width: 100px;
  position: relative;
  padding: 10px 10px;
}
.menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2a2a2a;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.search_text {
  text-align: center;
  font-size: 15px;
  font-family: "IBMPlexSansKR-ExtraLight", sans-serif;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  padding-top: 10px;
  border-bottom: 2px solid rgba(245, 96, 153, 0.9);
}
.search button {
  bottom: 55px;
  right: 20px;
  position: absolute;
  border: none;
  background-color: white;
}
