.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container .info-title h1 {
  font-family: "TmoneyRoundWindExtraBold";
  color: rgb(70, 70, 70);
  font-size: 40px;
  letter-spacing: 5px;
  padding: 20px 20px;
}
.container .info-main {
  font-family: "Cafe24SsurroundAir";
  font-size: 15px;
  color: #2a2a2a;
  width: 800px;
  padding: 20px;
  height: 100%; /*1.줄 필요가 없나? 2.가운데로 옮기려면 뭐 변경?*/
}
.container .info-main p {
  padding-bottom: 10px;
}
.container .info-main li {
  margin: 20px 0 20px 0;
}
.container .info-main h2 {
  width: 120px;
  border-bottom: 3px solid rgb(70, 70, 70);
  padding: 10px;
}
.container .info-main span {
  font-family: "TmoneyRoundWindExtraBold";
  color: rgb(70, 70, 70);
  font-size: 20px;
  border-bottom: 3px solid rgba(245, 96, 153, 0.5);
}

/*-----------------------*/
/*----카카오맵----*/
.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
    line-height: 1.5;
  }
  .wrap * {
    padding: 0;
    margin: 0;
  }
  .wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
  }
  .wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .info .title {
    padding: 0 0 0 10px;
    height: 30px;
    background: linear-gradient(
      103deg,
      rgb(221, 157, 247) 0%,
      rgb(175, 100, 237) 50%,
      rgb(86, 127, 242)
    );
    border-bottom: 1px solid #ddd;
    font-family: "Bukhari Script", sans-serif;
    color: rgba(40, 51, 116, 0.9);
    font-size: 20px;
  }
  .info .close {
    position: absolute;
    top: 2px;
    right: 12px;
    color: rgb(243, 243, 243);
    width: 17px;
    height: 17px;
  }
  .info .close:hover {
    cursor: pointer;
    color: #555555;
  }
  .info .body {
    position: relative;
    overflow: hidden;
  }
  .info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
  }
  .desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
  }
  .info .img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 72px;
    height: 72px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
    background: url("/img/logo_ani.png") no-repeat 0 0 / auto 72px;
  }
  .info .img:hover {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 72px;
    height: 72px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
    background: url("/img/logo_ani.png") no-repeat 0 0 / auto 72px;
    animation: logo_ani 1s infinite steps(17);
  }
  .info:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }
  .info .link {
    color: #5085bb;
  }
  
