* {
    margin: 0;
    padding: 0;
  }

  .main{    /* 장바구니 전체 영역 */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  .title {  /* CART 글씨영역 */
    font-family: "Bukhari Script",sans-serif;
    letter-spacing: 10px;
    font-size: 50px;
    margin: 20px 30px 20px 30px;
  }
  


/* 테이블 장바구니 표 */
.basketdiv {
   width: 1200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* 표 카테고리 */
.row.head{
    letter-spacing: 5px;
    height: 45px;
    background-color: rgba(245, 96, 153, 0.5);
    border-top: 1px solid black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* 장바구니 내역 */
.row.data{
    border-bottom: 1px dashed gray; /* 하단점선 */
    height: 60px;
    line-height: 60px;
}

.row.head .check {    /* 선택 가로길이 */
    width: 60px;
}

.check input[type="checkbox"] {   /* 체크박스 크기 */
    transform: scale(2.5);
    margin: 25px;
}



  img {    /* 이미지 여백 */
    padding: 15px 0px 0px;
    align-items: center;
  }

  .row.head .basketprice {
    /* 상품가격 열 가로길이 */
    width: 150px;
  }
	.pname{
		width: 300px;
	}
	.num{
		width: 150px;
	}
	.sum{
		width: 100px;
	}

  .total {
    /* 최종 선택된 상품 + 결제 금액 */
    border: 1px solid gray;
    margin-top: 20px;
    padding: 15px 50px 15px 50px;
    text-align: center;
    font-family: "Cafe24SsurroundAir",serif;
	font-weight: bold;
  }
  
  .total .bigtext{
  	padding: 10px;
  }
  .total .delpay{
  	padding: 10px;
  }

   .num .updown, .p_num {
    /* 수량 열 숫자, 아이콘 크기*/
    color: steelblue;
    font-size: 20px;
    letter-spacing: -2px;
  }

   .sum {
    /* 합계 열 가로길이, 색상 */
    color: rgba(8, 4, 255, 0.7);
  }


  .buttongroup {
    padding: 11px 0;
    margin: 10px 0;
    text-align: center;
  }

.abutton,
.abutton:link,
.abutton:visited,
.abutton:active,
input[type="button"] {
 padding:6px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background-color: rgba(245, 96, 153, 0.9);
  font-size : 18px;
  font-weight:bold;
  color: #ffffff;;
}
.abutton:hover{
	background-color: rgba(245, 96, 153, 0.7);
}

.basketrowcmd {
  text-align: right;
  margin-bottom: 10px;
}

.sumcount,
.summoney {
  font-size: 20px;
  font-weight: bold;
}

.cmd a,
.cmd span {
  padding: 12px 30px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  background-color: rgba(197, 137, 199, 0.75);
  border: 5px solid rgba(88, 113, 253, 0.75);
  text-align: center;
  border-radius: 10px;
}

.p_num {
  text-align: center;
  width: 50px;
  font-size: 25px;
}
input[type=submit]{
	  width: 100px;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background-color: rgba(245, 96, 153, 0.9);
  font-size : 18px;
  font-weight:bold;
  color: #ffffff;
}
input[type=submit]:hover {
	background-color: rgba(245, 96, 153, 0.7);
}
td{
	font-family: "Cafe24SsurroundAir",serif;
	font-weight: bold;
}