body {
	min-width: 800x;
	width: auto !important;
	width: 1000px;
}
/*----------body--------------*/
section {
	width: 1400px;
	margin: 0 auto 30px auto;
	display: flex;
	flex-direction: column;
}

section .mypage_logo {
	width: 80%;
	margin: 0 auto;
	margin-bottom : 40px;
	font-size: 40px;
	text-align: center;
	font-weight:bold;
	color: rgba(245, 96, 153, 0.9);
}
section .mp {
	margin-top: 15px;
	display: flex;
	justify-content:ceter;
	margin: 0 auto;
}

section .mp .left {
	width : 350px;
	height: 350px;
	
}

section .mp .right {
	width:350px;
	margin-left: 30px;
	font-size: 16px;
	
}
section .mp .right h6{
	font-size: 22px;
	margin-bottom: 13px;
	color: rgba(245, 96, 153, 0.9);
}
section .mp .right div{
	margin-bottom:20px;
	font-family: "맑은고딕",sans-serif;
	font-weight: bold;
}
section .mp .right ul li:nth-child(1),section .mp .right ul li:nth-child(2),section .mp .right ul li:nth-child(3){
	margin-bottom: 17px;
}
section .line {
	height: 1px;
	background-color: gray;
	opacity: 0.3;
	box-shadow: 0px 1px 5px 1px gray;
	position: relative;
	top: 15px;
	margin-top: 30px;
	z-index: -1;
}
/* section .inner {
    background-color: rgb(82, 113, 255);
  } */
section .mypage_inner {
	display: flex;
	margin: 0 auto;
	width: 1200px;
}

section .item {
	margin: 0 30px 0 0;
	background-color: rgb(193, 122, 241);
	text-align: left;
	height: 40px;
	width: 120px;
	color: white;
	border-bottom: 1px solid none;
	box-shadow: 0px 1px 7px 0px white;
	padding: 20px 0 0 20px;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	display: block;
}

section .item:nth-child(5) {
	background-color: rgb(162, 109, 236);
}

section .fa-caret-left {
	transform: rotate(-45deg);
	position: absolute;
	top: -5px;
	right: 21px;
	font-size: 31px;
	color: rgb(41, 37, 97);
}

section .flexcollum {
	margin: 0 0 100px 50px;
}

.order_table {
	height: 160px;
}

.question {
	margin: 30px 0 0 50px;
}

.questbox, .reviewbox {
	width: 1000px;
	margin: 10px auto;
	border-top: 3px solid black;
	border-collapse: collapse;
}

.thead th {
	padding: 10px 0 10px 0;
}

.titem {
	width: 150px;
	text-align: center;
}

.titem2 {
	width: 650px;
	padding: 10px 0 10px 0;
}
.plink:hover{
	color:rgba(224, 185, 250, 0.781);
}
.delete {
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(224, 185, 250, 0.781);
	width: 50px;
	text-align: center;
	
}

.quest_list, .review_list {
	border-top: 1px solid #eeeeef;
}

.review {
	margin: 30px 0 0 50px;
}

.ratingbox {
	position: relative;
}

.rating {
	color: rgb(193, 122, 241);
}
.reply_td {
	text-align: left;
	margin-right:10px;
}

.reply_text {
	width: 760px;
	resize: none;
}
.fa-reply {
	transform: rotate(-180deg);
	cursor: default;
	position: relative;
	top: -20px;
	left: -10px;
}
