* {
  margin: 0;
  padding: 0;
  font-family: "Cafe24SsurroundAir";
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Middleschool_student";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansKR-ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes logo_ani {
  to {
    background-position: -2560px 0;
  }
}
body {
  min-width: 800x;
  width: auto !important;
  width: 1000px;
}

/*-----------------------*/
/*----------body--------------*/
section {
	width: 1400px;
	margin: 0 auto 30px auto;
	display: flex;
	flex-direction: column;
}

section .mypage_logo {
	width: 80%;
	margin: 0 auto;
	margin-bottom : 40px;
	font-size: 40px;
	text-align: center;
	font-weight:bold;
	color: rgba(245, 96, 153, 0.9);
}
section .mp {
	margin-top: 15px;
	display: flex;
	justify-content:ceter;
	margin: 0 auto;
}

section .mp .left {
	width : 350px;
	height: 350px;
	
}

section .mp .right {
	width:350px;
	margin-left: 30px;
	font-size: 16px;
	
}
section .mp .right h6{
	font-size: 22px;
	margin-bottom: 13px;
	color: rgba(245, 96, 153, 0.9);
}
section .mp .right div{
	margin-bottom:20px;
	font-family: "맑은고딕",sans-serif;
	font-weight: bold;
}
section .mp .right ul li:nth-child(1),section .mp .right ul li:nth-child(2),section .mp .right ul li:nth-child(3){
	margin-bottom: 17px;
}
section .line {
  height: 1px;
  background-color: gray;
  opacity: 0.3;
  box-shadow: 0px 1px 5px 1px gray;
  position: relative;
  top: 15px;
  margin-top: 30px;
  z-index: -1;
}
/* section .inner {
    background-color: rgb(82, 113, 255);
  } */
section .mypage_inner {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}
section .item {
  margin: 0 30px 0 0;
  background-color: rgb(193, 122, 241);
  text-align: left;
  height: 40px;
  width: 120px;
  color: white;
  border-bottom: 1px solid none;
  box-shadow: 0px 1px 7px 0px white;
  padding: 20px 0 0 20px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}
section .item:nth-child(4) {
  background-color: rgb(162, 109, 236);
}
section .fa-caret-left {
  transform: rotate(-45deg);
  position: absolute;
  top: -5px;
  right: 21px;
  font-size: 31px;
  color: rgb(41, 37, 97);
}
section .flexcollum {
  margin-bottom: 100px;
}
section .orderbox {
  display: flex;
  margin: 50px 0 0 80px;
  padding-top: 20px;
  border-top: 5px solid #eeeeef;
}
section .orderimg {
  width: 90px;
  height: 90px;
  object-fit: cover;
  /* margin-top: 15px; */
}
section .order_info {
  width: 350px;
  margin: 0 30px 0 30px;
}
.product_logo {
  color: rgb(193, 122, 241);
}
section .product_name {
  width: 350px;
  overflow: hidden;
}
section .order_line {
  border-top: 1px solid #eeeeef;
  margin: 5px 0 5px 0;
}
section .seller_info {
  text-align: center;
  margin: 30px 30px 0 0;
  width: 300px;
}
section .onemore {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(224, 185, 250, 0.781);
  height: 20px;
  margin-top: 30px;
}
.empty{
    margin: 120px 0 0 300px;
    font-size: 40px;
}
