* {
	margin: 0;
	padding: 0;
}

.title {
	font-weight: bold;
	font-family: "Bukhari Script", sans-serif;
	font-size: 40px;
	color: #484848;
	letter-spacing: 10px;
	padding: 20px 20px;
	text-align: center;
	margin-bottom: 30px;
}

.write-base {
	position: relative;
	font-size: 21px;
	/*     display: flex; */
}

.write-board {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid pink;
}

.write-board th:first-child {
	text-align: center;
	width: 150px;
	background-color: rgb(253, 214, 219);
}

.write-board td {
	border: 1px solid rgba(88, 113, 253, 0.75);
	padding-left: 5px;
}

.write-board tbody th {
	padding: 10px 15px 10px 10px;
	border: 1px solid rgba(88, 113, 253, 0.75);
}

.board-writer {
	margin-top: 10px;
	font-size: 20px
}

/* .board-title{
    font-size: 23px;
    border: 1px solid white;
  } */
.board-title, .board-writer, .board-date, .board-text {
	font-size: 23px;
	border: 1px solid white;
	resize: none;
}

.under-button {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 80px;
}

.write {
	font-size: 23px;
	border: 1px solid rgba(88, 113, 253, 0.75);
	background-color: rgba(197, 137, 199, 0.75);
	color: white;
	padding: 5px;
	border-radius: 10px;
	margin-right: 15px;
}

.cancel {
	font-size: 23px;
	border: 1px solid rgba(88, 113, 253, 0.75);
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 10px;
}
.btn:hover{
	cursor:pointer;
}