<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=980" />
    <link rel="stylesheet" href="css/style.css">
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/register-2.css" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
    <header id="header">
        <div class="header-full">
            <a href="#" class="logo">
                <nav class="header_nav">
                    <div class="header_menu">
                        <a href="#" class="header_login"><i class='bx-fw bx bxs-rocket bx-tada-hover'></i>로그인</a>
                        <a href="#" class="header_register"><i class='bx-fw bx bxs-user-plus bx-tada-hover'></i>회원가입</a>
                    </div>
                </nav>
        </div>
    </header>
    <div class="menu">
        <ul>
            <li class="drop-down"><a href="#"><i class='bx-fw bx bxs-directions bx-tada-hover bx-xs'></i>전체</a>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">사이트안내</a></li>
                    <li><a href="#">신제품</a></li>
                    <li><a href="#">인기제품</a></li>
                    <li class="drop-down"><a href="#">카테고리</a>
                        <ul>
                            <li class="drop-down"><a href="#">피규어</a>
                                <ul>
                                    <li><a href="#">애니</a></li>
                                    <li><a href="#">게임</a></li>
                                    <li><a href="#">연예인</a></li>
                                </ul>
                            </li>
                            <li class="drop-down"><a href="#">미니어쳐</a>
                                <ul>
                                    <li><a href="#">소형</a></li>
                                    <li><a href="#">중형</a></li>
                                    <li><a href="#">대형</a></li>
                                </ul>
                            </li>
                            <li><a href="#">RC카</a> </li>
                            <li class="drop-down"><a href="#">기타</a>
                                <ul>
                                    <li><a href="#">슬라임</a></li>
                                    <li><a href="#">굿즈</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="#">공지사항</a></li>
        </ul>
        <ul>
            <li><a href="#">사이트안내</a></li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">신제품/인기제품</a>
                <ul>
                    <li><a href="#">신제품</a></li>
                    <li><a href="#">인기제품</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">고객센터</a></li>
        </ul>
        <ul>
            <li class="drop-down"><a href="#">카테고리</a>
                <ul>
                    <li class="drop-down"><a href="#">피규어</a>
                        <ul>
                            <li><a href="#">애니</a></li>
                            <li><a href="#">게임</a></li>
                            <li><a href="#">연예인</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">미니어쳐</a>
                        <ul>
                            <li><a href="#">소형</a></li>
                            <li><a href="#">중형</a></li>
                            <li><a href="#">대형</a></li>
                        </ul>
                    </li>
                    <li><a href="#">RC카</a> </li>
                    <li class="drop-down"><a href="#">기타</a>
                        <ul>
                            <li><a href="#">슬라임</a></li>
                            <li><a href="#">굿즈</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <nav class="main_top">
                    <div class="search">
                        <form action="get">
                            <input type="text" name="search" placeholder="search" class="search_text">
                            <button type="submit"><i class='bx-fw bx bx-search bx-sm'></i></button>
                        </form>
                    </div>
            </li>
        </ul>
    </div>
    </nav>
    <main>
        <div class="title">
            <span>회원가입</span>
        </div>
        <div class="register-main">
            <div class="register-menu">
                <span class="one">약관동의</span> <i class='bx-fw bx bxs-chevron-right'></i> <span class="two">회원입력</span>
                <i class='bx-fw bx bxs-chevron-right'></i> <span class="three">회원가입완료</span>
            </div>
            <div class="wrap wd668">
                <div class="container">
                    <div class="form_txtInput">
                        <form id="form" class="form">
                            <p class="exTxt">회원가입시 이메일 인증을 반드시 진행하셔야 합니다.</p>
                            <div class="join_form">
                                <table>
                                    <colgroup>
                                        <col width="30%" />
                                        <col width="auto" />
                                    </colgroup>
                                    <tbody>
                                        <tr class="form-control">
                                            <th><span>이미지</span></th>
                                            <td><input type="file" name="id" placeholder="아이디를 입력하세요." required></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>아이디</span></th>
                                            <td><input type="text" name="id" placeholder="아이디를 입력하세요." required></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>이름</span></th>
                                            <td><input type="text" name="username" placeholder="이름을 입력하세요."></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>비밀번호</span></th>
                                            <td><input type="password" id="password" name="password"
                                                    placeholder="특수문자/문자/숫자 포함 8자리 이상 입력하세요."></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>비밀번호 확인</span></th>
                                            <td><input type="password" name="password2" placeholder="비밀번호를 확인하세요."></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>이메일</span></th>
                                            <td>
                                                <input type="email" name="email" id="email" placeholder="예)abc@abc.com"
                                                    required>
                                            </td>
                                            <td>
                                                <button class="btn_confirm" onclick="sendEmail()">인증번호 발송</button>
                                            </td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>인증번호 확인</span></th>
                                            <td><input type="text" class="send_number" name="send_number"
                                                    placeholder="4자리를 입력하세요."> </td>
                                            <td><button class="btn_send">확인</button></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>휴대폰 번호</span></th>
                                            <td><input type="tel" name="tel" placeholder="번호를 입력하세요."></td>
                                            <td></td>
                                        </tr>
                                        <tr class="form-control">
                                            <th><span>주소</span></th>
                                            <td></td>
                                            <td><input id="member_post" name="member_post" type="text" placeholder="지번"
                                                    readonly onclick="findAddr()"><br><br><br>
                                                <input id="member_addr" name="member_addr" type="text" placeholder="주소"
                                                    readonly><br><br><br><input type="text" name="member_detail"
                                                    id="member_detail" placeholder="추가 주소">
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="exform_txt"><span>표시는 필수적으로 입력해주셔야 가입이 가능합니다.</span></div>
                            </div>
                            <div class="btn_wrap">
                                <input type="submit" class="button" value="확인">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-icon">
            <div class="i1"><i class='bx bxl-facebook bx-fade-left-hover'></i></div>
            <div class="i1"><i class='bx bxl-instagram-alt  bx-fade-up-hover'></i></div>
            <div class="i1"><i class='bx bxl-twitter  bx-fade-right-hover'></i></div>
        </div>
        <div class="footer-business">
            <span>info&nbsp;&nbsp;</span>
            <span>Support&nbsp;&nbsp;</span>
            <span>Marketing</span>
        </div>
        <div class="footer-team">
            <span>Team</span>
            <span>1조</span>
            <span>6명</span>
        </div>
        <div class="footer-create">
            <span>@2021 Create Ezen Computer</span>
        </div>
    </footer>
    <a href="#" class="back-to-top">
        <i class="bx-fw bx bxs-rocket bx-tada-hover"></i>
    </a>

    <div class="chat">
        <div class="chat_header">
            <div class="chat_logo"></div>
            <div class="fa-times">
                <i class="bx bx-x" onclick="closechat();"></i>
            </div>
        </div>
        <div class="chat_main">
            <div class="chat_info">
                <div class="chat_profile"><i class='bx bx-game'></i></div>
                <div class="dito">
                    <span class="dito_name">디토</span>
                    <div class="dito_text">디스토이에 오신걸 환영합니다! 꼭 필요한 미니어처를 찾아가세요!!</div>
                </div>
            </div>
            <div class="question">
                <button type="button" class="ask" onclick="answer1();">반품/교환/환불</button><br>
                <button type="button" class="ask" onclick="answer2();">결제 안내</button><br>
                <button type=" button" class="ask" onclick="answer3();">재입고 안내</button>
            </div>
        </div>
    </div>
    <div class="chat-bot-open"><i class='bx bx-message-rounded' onclick="openchat();"></i></div>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/js/email.js"></script>
    <script src="/js/back-to-top.js"></script>
    <script src="/js/chatbot.js"></script>
    <script src="/js/address.js"></script>
    <script src="/js/register-2.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>

</html>